@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}


@layer utilities {

  .main-background {
    @apply bg-white-100 flex justify-center items-start lg:items-center w-full h-screen md:h-[90vh] size-full drop-shadow-lg
  }

  .input-class {
    @apply text-16 placeholder:text-16 rounded-full border border-gray-300 text-gray-900 pl-6;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-18 font-semibold text-gray-900;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  .subHeading {
    @apply text-xl sm:text-2xl font-bold leading-6 capitalize
  }

  /* Navbar */
  .nav-heading {
    @apply text-lg font-semibold leading-7 text-left text-black-100;
  }


  /* Auth */
  .auth-asset {
    @apply flex h-screen w-full sticky top-0 items-center justify-end bg-sky-1 max-lg:hidden;
  }

  /* Auth Form */

  .form-message {
    @apply text-12 text-red-500;
  }

  .form-btn {
    @apply text-16 rounded-[8px] border font-semibold text-white;
  }

  .form-link {
    @apply text-14 cursor-pointer text-[#3897F0] font-medium;
  }

  .input-form {
    @apply w-full rounded-[12px] placeholder:opacity-80 border border-[#D0D5DD] [box-shadow:0px_1px_2px_0px_#1018280D]
  }

  .stepDefault {
    @apply bg-gray-200 text-gray-700;
  }

  .stepCurrent {
    @apply bg-[rgba(105, _65, _198, _0.50)];
  }

  .stepCompleted {
    @apply bg-[#2C1C5F];
  }

 .heading {
  @apply text-xl md:text-3xl sm:mb-3 font-bold
 }

 .paragraph {
  @apply max-w-[556px] text-base md:text-lg font-medium text-[#D0D5DD]
 }
}